/target
.project
.settings
sample-web-service-war/.classpath
sample-web-service-war/.gitignore
sample-web-service-ejb/.classpath
sample-web-service-ejb/.gitignore
sample-web-service-jpa/.classpath
sample-web-service-jpa/.gitignore
sample-web-service-ear/.classpath
sample-web-service-ear/.gitignore
